@use 'sass:map';
@use 'sass:string';
@use 'sass:list';

// Borrow from https://qiita.com/Yama-to/items/324a691c7989c4185275
@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf) {
  $src: null;

  $formats: (
    otf: 'opentype',
    ttf: 'truetype',
  );

  @each $ext in $exts {
    $format: map.get($formats, $ext);
    $src: list.append($src, url(string.quote($path)) format(string.quote($format)), comma);
  }

  @font-face {
    font-family: string.quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
